.container #login-row #login-column #login-box {
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
.container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
.in-valid {
    color: red;
}